.header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-transform: uppercase;
  height: 25vh;
  margin-bottom: 10vh;
}

.header h1 {
  font-weight: 300 ;
}

.elipse {
  width: 50px;
  height: 200px;

  transform: matrix(0.58, 0.78, -0.87, 0.56, 0, 0);
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
}

@media screen and ( min-width : 1024px) {
  
  .header h1 {
    font-size: 3em;
    font-weight: 300;
  }
}