.headline {
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: center;
  font-weight: 400;
}

@media screen and ( min-width : 1024px) {
  
  .headline {
    font-size: 1.5em;
    font-weight: 300;
  }
}